.btnBackWrapper{
    display:flex;
    justify-content: center;
}

.btnBack {
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;


    border: 3px solid #bda6d4;
    border-radius: 50px;

    line-height: 44px;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #bda6d4;
    text-decoration: none;

    transition: all 0.3s ease-in;
}

.btnBack:hover {
    background-color: #bda6d4;
    color: white;
    transform: scale(1.05);
}