.goods {
    padding-top: 20px;
    padding-bottom: 60px;

    background: url("../../resources/img/header/bg.jpg");
    background-size: cover;
}

.goodsHeader {
    margin: 0;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.3;
    text-align: center;
    color: #bda6d4;
}

.cardsRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin-bottom: 40px;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 260px;
    background-color: white;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
    flex-grow: 1;
    transition: transform 0.2s ease-in;
    border-radius: 15px;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow:0px 0px 20px 0px #ab7adb ;
}

.cardLink {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #bda6d4;
    transition: color 0.2s ease-in;
}

.cardLink:hover {
    color: #ab7adb;
}

.cardImg {
    margin-bottom: 10px;
    border-radius: 15px;
}

.cardTitle {
    margin: 0;
    margin-bottom: 13px;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center
}

.card p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 130%;
    height: 60px;
    overflow: hidden;

}

.modal{
    position:fixed;
    top:0;
    left:0;
    /* z-index:1050; */
    /* display:none; */
    width:100%;
    height:100%;
    overflow:hidden;
    background-color:rgba(0,0,0,.7)
}

.modalDialog{
    max-width:80vw;
    margin:10vh auto;
}

.modalContent{
    position:relative;
    padding:30px;
    margin-left: auto;
    margin-right: auto;
    background-color:#fff;
    border:1px solid #bda6d4;
    border-radius:5px;
    max-height: 80vh;
    max-width: 1140px;
    overflow-y:auto
}

.modalClose{
    position:absolute;
    z-index: 1005;
    top:px;
    right:21vw;
    font-size:40px;
    color: #bda6d4;
    font-weight:700;
    border:none;
    cursor:pointer
}

.modalTitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    text-transform: uppercase;
    color: #462d5f;
}

.modalContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modalImg {
    padding: 20px;
    max-width: 260px;
    border-radius: 30px;
}

.modal p {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    height: 60px;
    color: #462d5f;
}

.show{display:block;}

.hide{display:none;}

.fixed{position: fixed; width: 100vw;}

.fade{animation-name: fade;animation-duration: 1.5s;}

@keyframes fade{from{opacity: 0.1;}to{opacity: 1;}}