.footerRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerColumn {
    max-width: 350px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footerCopyright {
    /* color: #b8ceeb; */
    line-height: 1.3;
}

.footerCopyrightName {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 28px;
}

.footerCopyright p {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
}

/* .footer-icons {

} */

.footerIcons p {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    line-height: 1.3;
    font-weight: 600;
    font-size: 16px;
}

.footerIconsRow {
    display: flex;
    align-items: center;

}

.footerIconsRow > * {
    margin-left: 30px;

}
.footerIconsRow img{
    width: 30px;
    height: 30px;}

.footerIconsRow img:hover{
    transition: all 0.3s ease-in;
    transform: scale(1.5);
    filter: drop-shadow(0px 0px 30px rgb(251, 255, 2));
}


.footerButton {
    display: inline-block;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;

    border: 3px solid #FFFFFF;
    border-radius: 50px;

    line-height: 44px;

    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;

    transition: all 0.3s ease-in;
}

.footerButton:hover {
    background-color: white;
    color: #bda6d4;
    transform: scale(1.05);
}

.footerContacts {
    padding-top: 20px;
}

.footerContacts p {
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
}