.App {
    display: block;
    box-sizing: border-box;
    height: 100vh;
}
.Header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: red;
    background: url("./resources/img/header/header_bg_full.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content{

}

.Footer{
    padding-top: 45px;
    padding-bottom: 45px;
    background: #bda6d4;
    color: white;
}

